* {
 font-family: Helvetica , blue;
 font-size: 12px;
 background-color: #B6DFE8;
}

h1{
  font-family: sans-serif;
  font-size: 26px;
  font-family: sans-serif;
  font-size: 26px;
  border: solid  #fa3753 10px;
  border-radius: 25px;
  background-color:#9ea2a6 ;
  margin:10px 200px 20px 200px;
  padding-left:300px;
}


h3 {
 font-family: 'Montseratt';
 font-size: 22px;
 text-align: center;
 width: 1000px;
 color: #42c583;
 border: solid black 1px;
 background-color: #204c72;
}
.coffee_background {

}
#salmon {
float: center;
padding-left: 400px;


}
 #salmonlogo{
   padding-left: 400px;

}

 #cookiestands {
   font-family: 'Montseratt';
   font-size: 22px;
   margin:10px;
   text-align: center;
   width: 98%;
   color: #black;
   border: solid #fa3753 20px;
   background-color: #204c72;
   border-radius: 15px;




 }
