* {
 font-family: Helvetica , blue;
 font-size: 12px;
 background-color: #B6DFE8;
}

h1{

}
p {
font-size: 18px;
text-align: left;

}


h3 {
 font-family: 'Montseratt';
 font-size: 22px;
 text-align: center;
 width: 400px;
 color: #42c583;
 border: solid #fa3753 10px;
 background-color: #204c72;
 border-radius: 25px;
}
.coffee_background {

}
/*sales.html logo tags*/
#salmonlogo{
  padding: 20px 50px 20px 50px;
  float: right;
  font-size: 24px;
  text-align: left;
}
/*main customer facing page logo*/
.salmonlogo{

 }

 #locations {


 }

#cookiestands {
  font-family: serif;
  font-size: 30px;
  margin:10px;
  text-align: center;
  width: 98%;
  color: #black;
  border: solid #fa3753 20px;
  background-color: #204c72;
  border-radius: 15px;
}

#salmon {
float: center;
padding-left: 25%;


}
